@using System.Globalization
@model CreateAPost.ViewModel.PartialPostViewModel
    

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
@if (Model.PostViewModel.UserAuth)
{
    foreach (var post in Model.PostViewModel.UsersPosts)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="details">
                    <span class="name">@post.User.UserName</span>
                    <span class="datetime">@Convert.ToString(post.DateTime, CultureInfo.InvariantCulture)</span>
                </div>
                <div class="post">@post.Text</div>
                <div class="like">
                    <a class="btn btn-primary glyphicon glyphicon-hand-up"></a>
                </div>
                <h5>Post ima: @post.Comments.Count komentara </h5>
                @foreach (var comment in post.Comments)
                {
                    @Html.Partial("../_IndexComment", comment)
                }
            </div>
        </div>

        using (Html.BeginForm("Create", "Comments", new {id = post.Id}, FormMethod.Post))
         {
             @Html.AntiForgeryToken()

             <div class="form-group">
                 @Html.LabelFor(m => m.CommentFormViewModel.Body, "Komentar: ")
                 @Html.TextBoxFor(m => m.CommentFormViewModel.Body, new { @class = "form-control", autofocus = "autofocus", placeholder = "Upisite komentar" })
             </div>

             <div class="form-group">
                 <button type="submit" class="btn btn-primary">Spremi komentar</button>
             </div>
            }
    }
}
</div>
